<h1>CDS!</h1>
#if ($cdlist)
  <ul>
    #foreach ($cd in $cdlist)
      <li>$cd.getTitle() : $cd.getArtist()</li>
    #end
  </ul>

#else
  <p>No CD!</p>
  <br>
  <br>
#end
<form action="/cd" method="post">
  <label for="title">New CD Title</label>
  <input id="title" name="title" type="text">

  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text">

  <button type="submit" class="btn btn-danger">Add CD</button>
</form>
